<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reporte PDF</title>

  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
    }

    h1 {
      text-align: center;
      color: #333;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      font-size: 8px;
      /* Mantener el tamaño de la fuente pequeño */
    }

    th,
    td {
      font-weight: normal;
      padding: 4px;
      /* Reducir el padding para que los textos estén más juntos */
      border: 1px solid #ddd;
      /* Mantener un borde delgado entre las celdas */
      text-align: center;
      /* Centrar el texto */
    }

    thead {
      border-top: none;
      /* Eliminar el borde superior de los encabezados */
    }



    tbody {
      display: table-row-group;
    }

    td {
      vertical-align: top;
      /* Alineación superior de las celdas */
      padding-left: 2px;
      /* Reduce el espacio en el lado izquierdo */
      padding-right: 2px;
      /* Reduce el espacio en el lado derecho */
    }

    /* Para hacer que las celdas no tengan márgenes adicionales */
    table td,
    table th {
      margin: 0;
      padding: 0;
      /* Reducir al mínimo el padding */
    }

    .logo {
      width: 100px;
      height: auto;
      float: right;
    }
  </style>


</head>

<body>
  <img src="logo.png" alt="Logo" class="logo">
  <h1>Reporte Diario de Actividades</h1>
  <p style="text-align: center;"><strong>Fecha:</strong> Noviembre 11, 2024</p>


  <h3>1. Inicio de jornada con charla de {{time}} minutos para todo el personal dictada por
    supervisor {{speaker}}</h3>

      <ol type="A">{{subtitles}}</ol>

  <h3>2. {{daily_activity_0}}:</h3>

    <ul>{{points_0}}</ul>

  <h3>3.{{daily_activity_1}}</h3>

  <ol type="A">
    <li>Regularizado, susceptibilidad magnética, RQD, chequeo de tacos, limpieza de muestra, chequeo línea de
      orientación,
      fotografías a cajas con sondajes, densidad, trabajos realizados por asistentes de geólogo.</li>
  </ol>


  <table>
    <thead>
      <tr>
        <!-- Primera columna: LOGO -->
        <th rowspan="2">LOGO</th>

        <!-- Columna del medio: Recepción Muestra de perforación -->
        <th>Recepcion Muestra de perforacion</th>

        <!-- Tercera columna: AVANCE DIARIO EN MUESTRA DGG 2024 -->
        <th rowspan="2">AVANCE DIARIO EN MUESTRA DGG 2024</th>
      </tr>
      <tr>
        <!-- Columna del medio: Turno día y noche -->
        <th>Turno dia y noche</th>
      </tr>
    </thead>
    <tbody style="padding: 0; border: none;">
      <tr>
        <!-- Celda del LOGO con tabla interna -->
        <td style="padding: 0; border: none;">
          <table>
            <thead style="height: 21px;">
              <tr>
                <th>EMPRESA</th>
                <th>FECHA</th>
                <th>POZO</th>
              </tr>

            </thead>
            <tbody>
              <tr>
                <td>Empresa</td>
                <td>01/01/2024</td>
                <td>Pozo123</td>
              </tr>
              <tr>
                <td>Empresa</td>
                <td>01/01/2024</td>
                <td>Pozo123</td>
              </tr>
              <tr>
                <td>Empresa</td>
                <td>01/01/2024</td>
                <td>Pozo123</td>
              </tr>
            </tbody>
          </table>
        </td>
        <!-- Otras celdas -->
        <td style="padding: 0; border: none;">
          <table>
            <thead>
              <tr>
                <!-- Primera columna: LOGO -->
                <th rowspan="2">Recepcion de muestra</th>

                <!-- Columna del medio: Recepción Muestra de perforación -->
                <th>MTS</th>

              </tr>
              <tr>
                <!-- Columna del medio: Turno día y noche -->
                <th>PERFORADOS</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>33,50</td>
                <td>49,25</td>
              </tr>
              <tr></tr>
              <td>33,50</td>
              <td>49,25</td>
      </tr>
      </tr>
      <td>33,50</td>
      <td>49,25</td>
      </tr>
    </tbody>
  </table>
  </td>

  <td style="padding: 0; border: none;">


    <div style="display: flex; flex-direction: row;">
      <table>
        <thead>
          <!-- Primer encabezado que ocupa 3 columnas -->
          <tr>
            <th colspan="3">photographs</th>
          </tr>
          <!-- Segundo encabezado con 3 columnas -->
          <tr>
            <th>DESDE</th>
            <th>HASTA</th>
            <th>TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <!-- Primera fila de datos -->
          <tr>
            <td>100</td>
            <td>200</td>
            <td>300</td>
          </tr>
          <!-- Segunda fila de datos -->
          <tr>
            <td>150</td>
            <td>250</td>
            <td>400</td>
          </tr>
          <!-- Tercera fila de datos -->
          <tr>
            <td>120</td>
            <td>220</td>
            <td>340</td>
          </tr>
        </tbody>
      </table>

      <table>
        <thead>
          <!-- Primer encabezado que ocupa 3 columnas -->
          <tr>
            <th colspan="3">regularized</th>
          </tr>
          <!-- Segundo encabezado con 3 columnas -->
          <tr>
            <th>DESDE</th>
            <th>HASTA</th>
            <th>TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <!-- Primera fila de datos -->
          <tr>
            <td>100</td>
            <td>200</td>
            <td>300</td>
          </tr>
          <!-- Segunda fila de datos -->
          <tr>
            <td>150</td>
            <td>250</td>
            <td>400</td>
          </tr>
          <!-- Tercera fila de datos -->
          <tr>
            <td>120</td>
            <td>220</td>
            <td>340</td>
          </tr>
        </tbody>
      </table>

      <table>
        <thead>
          <!-- Primer encabezado que ocupa 3 columnas -->
          <tr>
            <th colspan="3">rqd</th>
          </tr>
          <!-- Segundo encabezado con 3 columnas -->
          <tr>
            <th>DESDE</th>
            <th>HASTA</th>
            <th>TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <!-- Primera fila de datos -->
          <tr>
            <td>100</td>
            <td>200</td>
            <td>300</td>
          </tr>
          <!-- Segunda fila de datos -->
          <tr>
            <td>150</td>
            <td>250</td>
            <td>400</td>
          </tr>
          <!-- Tercera fila de datos -->
          <tr>
            <td>120</td>
            <td>220</td>
            <td>340</td>
          </tr>
        </tbody>
      </table>

      <table>
        <thead>
          <!-- Primer encabezado que ocupa 3 columnas -->
          <tr>
            <th colspan="3">susceptibility</th>
          </tr>
          <!-- Segundo encabezado con 3 columnas -->
          <tr>
            <th>DESDE</th>
            <th>HASTA</th>
            <th>TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <!-- Primera fila de datos -->
          <tr>
            <td>100</td>
            <td>200</td>
            <td>300</td>
          </tr>
          <!-- Segunda fila de datos -->
          <tr>
            <td>150</td>
            <td>250</td>
            <td>400</td>
          </tr>
          <!-- Tercera fila de datos -->
          <tr>
            <td>120</td>
            <td>220</td>
            <td>340</td>
          </tr>
        </tbody>
      </table>

      <table>
        <thead>
          <!-- Primer encabezado que ocupa 3 columnas -->
          <tr>
            <th colspan="3">test_tubes_meters-provetas</th>
          </tr>
          <!-- Segundo encabezado con 3 columnas -->
          <tr>
            <th>from</th>
            <th>to</th>
            <th>TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <!-- Primera fila de datos -->
          <tr>
            <td>100</td>
            <td>200</td>
            <td>300</td>
          </tr>
          <!-- Segunda fila de datos -->
          <tr>
            <td>150</td>
            <td>250</td>
            <td>400</td>
          </tr>
          <!-- Tercera fila de datos -->
          <tr>
            <td>120</td>
            <td>220</td>
            <td>340</td>
          </tr>
        </tbody>
      </table>

      <table>
        <thead>
          <!-- Primer encabezado que ocupa 3 columnas -->
          <tr>
            <th colspan="3">test_tubes_meters-metros</th>
            <th rowspan="2">OBSERVACIONES</th>
          </tr>
          <!-- Segundo encabezado con 3 columnas -->
          <tr>
            <th>from_meters</th>
            <th>to_meters</th>
            <th>TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <!-- Primera fila de datos -->
          <tr>
            <td>100</td>
            <td>200</td>
            <td>300</td>
            <td>en perforacion</td>
          </tr>
          <!-- Segunda fila de datos -->
          <tr>
            <td>150</td>
            <td>250</td>
            <td>400</td>
            <td>en perforacion</td>
          </tr>
          <!-- Tercera fila de datos -->
          <tr>
            <td>120</td>
            <td>220</td>
            <td>340</td>
            <td></td>
          </tr>
        </tbody>
      </table>

    </div>
  </td>

  </tr>
  </tbody>
  </table>

  <h3>4.{{daily_activity_2}}</h3>
  <h3>5.{{daily_activity_3}}</h3>
  <h3>6.{{daily_activity_4}}</h3>

  <table border="1">
    <thead>
      <tr>
        <!-- Encabezados principales -->
        <th>METROS DE SONDAJE DDH LIBERADOS POR GEOLOGIA</th>
        <th>AVANCES EN CORTE Y MUESTREO DE SONSAJES DDH</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <!-- Primera celda con las dos tablas dentro -->
        <td>
          <div style="display: flex; flex-direction: row;">
            <table>
              <thead>
                <tr>
                  <th>EMPRESA</th>
                  <th>FECHA</th>
                  <th>POZO</th>
                </tr>

              </thead>
              <tbody>
                <tr>
                  <td>Empresa</td>
                  <td>01/01/2024</td>
                  <td>Pozo123</td>
                </tr>
                <tr>
                  <td>Empresa</td>
                  <td>01/01/2024</td>
                  <td>Pozo123</td>
                </tr>
                <tr>
                  <td>Empresa</td>
                  <td>01/01/2024</td>
                  <td>Pozo123</td>
                </tr>
              </tbody>
            </table>

            <br> <!-- Espacio entre tablas -->

            <table border="1">
              <thead>
                <tr>
                  <th colspan="3">LOGGEO / MTS LIBERADO</th>
                </tr>
                <tr>
                  <th>DESDE</th>
                  <th>HASTA</th>
                  <th>TOTAL</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>100</td>
                  <td>200</td>
                  <td>300</td>

                </tr>
                <tr>
                  <td>150</td>
                  <td>250</td>
                  <td>400</td>

                </tr>
                <tr>
                  <td>120</td>
                  <td>220</td>
                  <td>340</td>

                </tr>
              </tbody>
            </table>
          </div>
        </td>

        <!-- Segunda celda vacía (o puedes agregar contenido) -->
        <td>
          <div style="display: flex; flex-direction: row;">
            <table>
              <thead>
                <tr>
                  <th>EMPRESA</th>
                  <th>FECHA</th>
                  <th>POZO</th>
                </tr>

              </thead>
              <tbody>
                <tr>
                  <td>Empresa</td>
                  <td>01/01/2024</td>
                  <td>Pozo123</td>
                </tr>
                <tr>
                  <td>Empresa</td>
                  <td>01/01/2024</td>
                  <td>Pozo123</td>
                </tr>
                <tr>
                  <td>Empresa</td>
                  <td>01/01/2024</td>
                  <td>Pozo123</td>
                </tr>
              </tbody>
            </table>

            <br> <!-- Espacio entre tablas -->

            <table border="1">
              <thead>
                <tr>
                  <th colspan="3">LOGGEO / MTS LIBERADO</th>
                </tr>
                <tr>
                  <th>DESDE</th>
                  <th>HASTA</th>
                  <th>TOTAL</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>100</td>
                  <td>200</td>
                  <td>300</td>

                </tr>
                <tr>
                  <td>150</td>
                  <td>250</td>
                  <td>400</td>

                </tr>
                <tr>
                  <td>120</td>
                  <td>220</td>
                  <td>340</td>

                </tr>
              </tbody>
            </table>

            <br> <!-- Espacio entre tablas -->

            <table>
              <thead>
                <tr>
                  <th>EMPRESA</th>
                  <th>FECHA</th>
                </tr>

              </thead>
              <tbody>
                <tr>
                  <td>Empresa</td>
                  <td>01/01/2024</td>

                </tr>
                <tr>
                  <td>Empresa</td>
                  <td>01/01/2024</td>

                </tr>
                <tr>
                  <td>Empresa</td>
                  <td>01/01/2024</td>
                </tr>
              </tbody>
            </table>

            <br> <!-- celeste -->
            <table>
              <thead>
                <tr>
                  <th>EMPRESA</th>
                  <th>FECHA</th>
                </tr>

              </thead>
              <tbody>
                <tr>
                  <td>Empresa</td>
                  <td>01/01/2024</td>

                </tr>
                <tr>
                  <td>Empresa</td>
                  <td>01/01/2024</td>

                </tr>
                <tr>
                  <td>Empresa</td>
                  <td>01/01/2024</td>
                </tr>
              </tbody>
            </table>

            <table border="1">
              <thead>
                <tr>
                  <th colspan="3">LOGGEO / MTS LIBERADO</th>
                </tr>
                <tr>
                  <th>DESDE</th>
                  <th>HASTA</th>
                  <th>TOTAL</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>100</td>
                  <td>200</td>
                  <td>300</td>

                </tr>
                <tr>
                  <td>150</td>
                  <td>250</td>
                  <td>400</td>

                </tr>
                <tr>
                  <td>120</td>
                  <td>220</td>
                  <td>340</td>

                </tr>
              </tbody>
            </table>

            <table>
              <thead>
                <tr>
                  <th>METROS SIN MUESTREAR</th>

                </tr>

              </thead>
              <tbody>
                <tr>
                  <td>Empresa</td>


                </tr>
                <tr>
                  <td>Empresa</td>


                </tr>
                <tr>
                  <td>Empresa</td>

                </tr>
              </tbody>
            </table>

          </div>


        </td>
      </tr>
    </tbody>
  </table>


  <h3>7.{{daily_activity_5}}<h3>
  <h3>8.{{daily_activity_6}}</h3>

  <table border="1">
    <thead>
      <tr>
        <!-- Encabezados principales -->
        <th>ENVIO DE MUESTRAS DE SONDAJE AL LABORATORIO</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <!-- Primera celda con las dos tablas dentro -->
        <td>
          <div style="display: flex; flex-direction: row;">
            <table>
              <thead>
                <tr>
                  
                  <th>FECHA</th>
                  <th>POZO</th>
                  <th>TRC</th>
                </tr>

              </thead>
              <tbody>
                <tr>
                  <td>Empresa</td>
                  <td>01/01/2024</td>
                  <td>Pozo123</td>
                </tr>
                <tr>
                  <td>Empresa</td>
                  <td>01/01/2024</td>
                  <td>Pozo123</td>
                </tr>
                <tr>
                  <td>Empresa</td>
                  <td>01/01/2024</td>
                  <td>Pozo123</td>
                </tr>
              </tbody>
            </table>
            <br> <!-- Espacio entre tablas -->
            <table>
              <thead>
                <tr>
                  
                  <th>FECHA</th>
                  <th>POZO</th>
                  <th>TRC</th>
                </tr>

              </thead>
              <tbody>
                <tr>
                  <td>Empresa</td>
                  <td>01/01/2024</td>
                  <td>Pozo123</td>
                </tr>
                <tr>
                  <td>Empresa</td>
                  <td>01/01/2024</td>
                  <td>Pozo123</td>
                </tr>
                <tr>
                  <td>Empresa</td>
                  <td>01/01/2024</td>
                  <td>Pozo123</td>
                </tr>
              </tbody>
            </table>

            <br> <!-- Espacio entre tablas -->

            <table border="1">
              <thead>
                <tr>
                  <th colspan="3">METROS</th>
                </tr>
                <tr>
                  <th>DESDE</th>
                  <th>HASTA</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>100</td>
                  <td>200</td>
                

                </tr>
                <tr>
                  <td>150</td>
                  <td>250</td>
                

                </tr>
                <tr>
                  <td>120</td>
                  <td>220</td>
                  

                </tr>
              </tbody>
            </table>

            <br> <!-- Espacio entre tablas -->
            <table>
              <thead>
                <tr>
                  
                  <th>total</th>
                  <th>TOTAL</th>
                  <th>OBSERVACION</th>
                </tr>

              </thead>
              <tbody>
                <tr>
                  <td>MUESTRAS</td>
                  <td>METROS</td>
                  <td>EN PROCESO</td>
                  
                </tr>
                <tr>
                  <td>78,00</td>
                  <td>79,00</td>
                  <td>EN PROCESO</td>
                
                </tr>
                
              </tbody>
            </table>
          </div>
        </td>
      </tr>
       
    </tbody>
  </table>

  <h3>9.{{daily_activity_7}}</h3>

  <img src="../../../public/test.png" alt="Descripción de la imagen" width="300" height="200" />

  <div style="display: flex; justify-content: flex-start; align-items: center; padding-left: 20px;">
    <h2 style="font-weight: bold; font-size: 1.3rem; margin: 7;">
      Hugo Macaya Cayo<br>
      Supervisor de muestrera<br>
      Proyecto {{project_name}} <br>
      (2024)<br>
      <a href="mailto:hugo.macaya@tesorogold.com">hugo.macaya@tesorogold.com</a>
    </h2>
  </div>
  

  


  <div >
    <h3>LABORATORIO</h3>

    <div>

      <table border="1">
        <thead>
          <tr>
            <!-- Encabezados principales -->
            <th>ENVIO DE MUESTRAS DE SONDAJE AL LABORATORIO</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <!-- Primera celda con las dos tablas dentro -->
            <td>
              <div style="display: flex; flex-direction: row;">
                
                <br> <!-- Espacio entre tablas -->
                <table>
                  <thead>
                    <tr>
                      
                      <th>FECHA</th>
                      <th>POZO</th>
                      <th>TRC</th>
                    </tr>
    
                  </thead>
                  <tbody>
                    <tr>
                      <td>Empresa</td>
                      <td>01/01/2024</td>
                      <td>trce</td>
                    </tr>
                    <tr>
                      <td>Empresa</td>
                      <td>01/01/2024</td>
                      <td>Pozo123</td>
                    </tr>
                    <tr>
                      <td>Empresa</td>
                      <td>01/01/2024</td>
                      <td>trcee</td>
                    </tr>
                  </tbody>
                </table>

                <br> <!-- Espacio entre tablas -->
    
                <table border="1">
                
                  <thead>
                    <tr>
                      <th colspan="3">TRC</th>
                    </tr>
                    <tr>
                      <th>DESDE</th>
                      <th>HASTA</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>100</td>
                      <td>200</td>
                    
    
                    </tr>
                    <tr>
                      <td>150</td>
                      <td>250</td>
                    
    
                    </tr>
                    <tr>
                      <td>120</td>
                      <td>220</td>
                      
    
                    </tr>
                  </tbody>
                </table>
                <br> <!-- Espacio entre tablas -->
    
                <table border="1">
                  <thead>
                    <tr>
                      <th colspan="3">METROS</th>
                    </tr>
                    <tr>
                      <th>DESDE</th>
                      <th>HASTA</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>100</td>
                      <td>200</td>
                    
    
                    </tr>
                    <tr>
                      <td>150</td>
                      <td>250</td>
                    
    
                    </tr>
                    <tr>
                      <td>120</td>
                      <td>220</td>
                      
    
                    </tr>
                  </tbody>
                </table>
    
                <br> <!-- Espacio entre tablas -->
                <table>
                  <thead>
                    <tr>
                      
                      <th>total</th>
                      <th>TOTAL</th>
                      <th>OBSERVACION</th>
                    </tr>
    
                  </thead>
                  <tbody>
                    <tr>
                      <td>MUESTRAS</td>
                      <td>METROS</td>
                      <td>EN PROCESO</td>
                      
                    </tr>
                    <tr>
                      <td>78,00</td>
                      <td>79,00</td>
                      <td>EN PROCESO</td>
                    
                    </tr>
                    
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
           
        </tbody>
      </table>

    </div>
  </div>


  ${data.wells
    .flatMap(well =>
      (well.receptions ?? []).map(reception => `
        <tr>
          <td>${reception?.from ?? "null"}</td>
          <td>${reception?.to ?? "null"}</td>
        </tr>
      `)
    )
    .join("")}